/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display:block
}
mark, rp, rt, ruby, summary, time {
	display:inline
}

/* Left & Right alignment */

.left {
	float:left
}
.right {
	float:right
}
.wrapper {
	width:99.3%;
	overflow:hidden;
	background-color:#F0FFff;
	margin-top:0.3px;
	padding-bottom:4px;

}
.enveloppe {
	width:1020px;
	overflow:hidden;
	margin-top:0.3px;
	padding-bottom:4px;
	display:inline

}
/* Global properties */
body {
	border:0;
	font:16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:black;
	line-height:22px;
	background-color:#F0FFff;
}
.ic, .ic a {
	border:0;
	float:right;
	background:#F0FFff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	position:relative;
background: linear-gradient(#FFF, #FFF 40%, #EEE 80%, #DDD);
	box-shadow: 0 0 8px rgba(0,0,0, 0.8);
	
	}
/* Global Structure */
.main {
	margin:0 auto;
	width:1050px;

}
.main_principal {
	margin:auto auto;
	width:1050px;
	height:auto;
	background-color:white;
	border: 0.5px solid  white;
	position:relative;
	
	}
		u{
    border-bottom: 5px solid steelblue ;
	width:200px;
	margin:auto;
	float:top;
	
}
.clear{
float:bottom;
margin-top:48px;
margin-bottom:18px;
clear:both;
}

.qbody1 {
	background-color:#F0FFff;
	height:auto;
	padding-top:24px;
/* 		background:url(images/header1.png) bottom repeat-x #92d30f;
 */
}

.body2 {
	background:#F0FFff;
	height:650px;
	padding-top:24px;
	width:1000px;
	margin:24 24 24 24;
}
.body3 {
	background:#F0FFff;
	height:600px;
	padding-top:24px;
	width:1000px;
	margin:24 24 24 24;
}
/* main layout */
a {
	color:#F0FFff;
	text-decoration:underline;
	outline:none
}
a:hover {
	text-decoration:none
}
/* header */
header {
	height:auto;
}


.banniererfinal{
	display:block;
	background:url(../images2/bannierefinal.jpg) 0 0 no-repeat;
	width:1050px;
	height:189px;
	margin:;
	margin-top:px;
	
	}


.banniere{
float:center;
margin:12 0 0 120;
border:;
}

.header{

width:auto;
background-color:white;/*banniere*/
height:150px;
box-shadow:5px 1px 3px 2px rgba(0, 0, 0, 0.07) inset;
	 margin-top:-15px;

}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* #mn li a:hover
{font-size: 20px; text-decoration:none;}
 */
#mn li 
{margin:0 12 12 12; display:inline; font-size: 16px; 

}

#mn li  a
{ color:#2278c2;}

.but1 {text-decoration: none;  margin-left:; }
.but2  {text-decoration: none;  margin-left:10px; }
.but3{text-decoration: none;  margin-left:5px; }
.but4 {text-decoration: none;  margin-left:5px; }
 .but5 {text-decoration: none;  margin-left:5px; }
 .but6{text-decoration: none;  margin-left:5px; }
 
.mn.but7{text-decoration: none;  margin-left:5px;}


div.image{margin:0 12 12 12; display:inline;}
.image1 ,.image2 ,.image3 ,.image4 ,.image5,.image6 { margin:auto; display:inline;
cursor:pointer}

.image7,.image8,.image9 ,.image10 { margin:12 12 12 12; display:inline;
cursor:pointer}


body {
    font-family: Tahoma, Arial, Helvetica;
	background-color:#F0FFff;/*backround principal*/
	
}
/* 	table{
	margin:48 0 0 0
	}
	 th{
	background-color:#e6e7e4
	}
 */
	.contenu {
    position: relative;
    margin: -5 auto 10px 120;
    width: 999;
	height:auto;
    border: 1px solid #E0E0E0;
	background-color: white;	
}
fieldset{
width:600;
height:250;
border: 0,5 inset #E0E0E0 ;
margin:5 12 12 12
} 

.text{
text-align:center;
font-family:Arial,Tahoma;
font-size:18;
margin:24 24 24 0

}

.pied{
    width: 1001px;
    color: white;
    text-align: center;
    font-size: normal;
    font-weight: bold;
    clear: both;
    margin-bottom: px;
    margin:-9 0 0 120;
	background-color:#8bba1c;
	height:30;

}

.deconnect a{
   background-color:#8bba1c ;
    float:right;
	border :1px inset;
	margin:1 12 1 0;
	color:white;
    font-size:20;
	font-style:Arial

}



td a:hover
{
  overflow:hidden
}

/* input text {
    background-color: #FAFAFA;
    border-width: 1px;
    border-color: #D1D7DC;
    color: Black;
    font-style: italic;
}
 input submit {
    font-weight: bold;
    font-style: normal;
    background-color: #D1D7DC;
    color: Black;
    border-color: Black;
    padding: 0px 10px 0px 10px;
    border-width: 2px;
}
 */

h4{
	font-size:25px;
	color: rgb(255, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	
}
h3{
	font-size:25px;
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	
}

 *{
  box-sizing: border-box;
}

table {
  width: 950px;
  max-width: 800px;
  height: auto;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 50px auto;
  background: white;
}
th {
  background: steelblue;
  height: 54px;
  width: 25%;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0px 1px 2px #568ebd;
  transition: all 0.2s;
}
tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td:last-child {
  border-right: 0px;
}


/* /////////////////bouton input ///////// */

input[type='submit']{
	width: auto;
	cursor: pointer;	
	background:#8bba1c ;
	font-style: Arial Narrow;
	color: #fff;
	font-size: 25px;	
	border: 3px   inset solid rgba(256,256,256,0.75);
	margin-top:24px;
	}
			input[type='submit']:hover{
			background:#688df6;
			
			}
			
			input[type='reset']{
	width: auto;
	cursor: pointer;	
	background:gray ;
	font-style: Arial Narrow;
	color: #fff;
	font-size: 25px;	
	border: 3px   inset solid rgba(256,256,256,0.75);
	margin-top:24px;
	}
			input[type='reset']:hover{
			background:black;
			}
			
			#put{
width: 250px;
font-size: 16px;
font-style: Arial;
margin-left:100px;
height: 35px;
border: 2px solid #8bb02c;
-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
			
			}
			/* layout */
.col1, .col2, .col3, .col4, .cols {
	float:left
}
section.col1 {
	margin-left:32px;
}

.col1 {
	width:250px
}
.cols {
	width:220px;
	height:800px;
	
}
span {
color:steelblue;
font-size:17px;	
}
.col2 {
	width:440px
}
.col3 {
	width:430px
}
.col4 {
	width:500px;
	height:150px;
}
/* index.html */
.pdtop {
	 
	
	padding-top:14px
}

 .marg_bot{
	margin-bottom:16px
}
/* index-2.html */
.marg_right1 {
	margin-right:30px;
	float:right;
}
.marg_right2 {
margin-right:8px;
	float:right;
	}

.pad_right1 {
	padding-right:40px
}
.pad_left1 {
	padding-left:40px
}

.left1 {
	margin-left:12px;
	
}
.left2 {
	margin-left:48px;
	
}

.mrtd {
	margin-left:4px;
}
 .col5 {
	width:auto;
	height:500px;
}



.marg_bot3 {
	margin-bottom:48px
}
.marg_bot {
	margin-bottom:12px
}
.marg_top {
	margin-top:12px
}

.pdtd {
	padding-right:4px
}

.marg_top1 {
	margin-top:48px

	}
	
.disabled {
    opacity: 0.2;
    cursor: not-allowed ;
    
}
	
			/* MYinput recherche */
.myInput {
  background-image: url('../images/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 30%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-right:20px;
  margin-left:24px;
  float:;
  font-size:16px;
  color:black;
  border: 2px solid #8bb02c;
-webkit-box-shadow: 0px 1px 8px 6px rgba(0, 0, 0, 0.2) inset;
}

			
			
			/* footer */
#footer span {

    width: 1050px;
    color:#fff;
    text-align: center;
    background-color: #FBA11B;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    clear: both;
    margin:auto auto 24px 0px ;
	float:left;
	padding-top:auto;
	height:60px;
    
}
