/*******************
CONTENT
*******************/

.content {
	padding: 0 30px 25px 30px;
	height:600px;
	width: 600px;
	margin: 0 auto;
	position: relative;
	display:block;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color:black;
}

/* Input field */
 .content .input {
	width: 230px;
	padding: 10px 20px;
	margin-left:48px;
	font-family: Tahoma, Arial, Helvetica ;
	font-weight: 400;
	font-size: 14px;
	color: black;
	float:right;
	background: #fff;
	border: 1px solid black;
	border-radius: 5px;
	display:block;
	/* box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50); */
	margin-bottom:14px;
}

.content p 
{
  padding-right:30px;
  text-align:right;
}

.content .input:hover {
	background: #ebede6;
	color: #414848;
}

 .content .input:focus {
	background: #F0FFff;
	color: black;
	

}

label{
line-height:38px;
font-size:16px;
color:black;
}
input[type='submit']{
	width: auto;
	cursor: pointer;	
	background:gray ;
	font-style: Arial Narrow;
	color: #fff;
	font-size: 25px;	
	border: 3px   inset solid rgba(256,256,256,0.75);
	margin-top:24px;
	}
			input[type='submit']:hover{
			background:black;
			}
			
		/*menu boutton*/	
			
			input[type='button']{
			margin:20 8 24 4 ;
	float:right;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;


			}
			input[type='button']:hover{
			background:#8bba1c;
			}

